extends layout

block content
  
  h2 Lista de alumnos:
  div(class='well')
    table(class='table')
      tr
        th Id
        th Nombre
        th Apellidos
      each alumno in alumnos
        
        tr
          td #{alumno.id}
          td #{alumno.nombre}
          td #{alumno.apellido}