extends layout

block content
  
  h2 Lista de asignaturas:
  div(class='well')
    table(class='table')
      tr
        th Id
        th Nombre
        th Curso
      each asignatura in asignaturas
        
        tr
          td #{asignatura.id}
          td #{asignatura.nombre}
          td #{asignatura.curso}