extends layout

block content
  
  h2 Seleccione el profesor a eliminar:
  div(class='well')
      table(class='table')
        tr
          th Id
          th Nombre
          th Apellidos
        each profesor in profesores
          
          tr
            td #{profesor.id}
            td #{profesor.nombre}
            td #{profesor.apellido}
            td 
              form(method='post')
                  Button(name ='id' value= '#{profesor._id}' type='submit' class="btn-danger" ) Eliminar